@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Roboto&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto"   
}
.container{
    display: grid;
    grid-template-columns: 0.7fr 2fr 1fr;
    grid-template-rows: 0.8fr 2fr 2fr;
    grid-template-areas:
    "sidebar header header"
    "sidebar projects news"
    "sidebar projects trends"
}
.sidebar{
    background-color: blue;
    grid-area: sidebar;
}
.sidebar img{
    width: 20px;
    height: auto;
}
.ul-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-left: 20px;
    list-style: none;
    margin-bottom: 45px;

}
.ul-grid>li{
    display: flex;
    gap: 15px;
}

.dash{
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: white;
    margin-left: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
    gap: 10px;
    font-size: 22px;
}
#Dashboard-img{
    width: 40px;
    height: auto;
}
li>a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
#search-img,#bell{
    width: 25px;
    height: auto;
}
.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px;
    background-color:white;
    grid-area: header;
}
/* .upper{
    display: flex;
    align-items: center;
} */
.lower{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}
.right-side{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 30px;
}
.left-side{
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    margin-left: 20px
}
.header>ul{
    align-self: center;
    list-style: none;
    display: flex;
    gap: 15px;
}
button{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: 1px solid #3882f6 ;
    padding: 8px 16px;
    width: 84px;
    height: auto;
}
input{
    width: 80%;
    height: 50%;
    border-radius: 20px;
    background-color:rgb(220, 212, 212);
    border: none;
}

.projects{
    background-color: green;
    grid-area: projects;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.projects>p{
    grid-column: 1/3;
}
.news{
    background-color: orange;
    grid-area: news;
}
.trends{
    background-color: burlywood;
    grid-area: trends;
}
.card{
    width: 150px;
    height: 50px;
    background-color: beige;
}
.filter-white{
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(103%) contrast(104%);
}