@import url('https://fonts.googleapis.com/css2?family=News+Cycle&family=Roboto&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto"   
}
.sidebar{
    background-color: blue;
}
.sidebar img{
    width: 20px;
    height: auto;
}
#Dashboard-img{
    width: 40px;
    height: auto;
}
.filter-white{
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(103%) contrast(104%);
}